// Pre-state grayscale colors used in other variables

$gray-800: #343a40;

// Override Bootstrap color system

$orange: #0033A0;
// good lighter, bright green - 0A0
// dark bright blue - 00F
// good lighter blue - prolly fav****** - 209CEE
// OG orange - bd5d38
//UK blue technical - 0033A0

// Override Bootstrap default state colors

$primary: $orange;

// Override Bootstrap yiq lightness value

$yiq-contrasted-threshold: 205;
